<!doctype html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    <script src="script.js"></script>
  </head>
  <body ng-app="AngularTest">
    <div ng-controller="Controller">
      <label>Filter | Display only patients older than</label>
      <input type="text" type="number" ng-model="age" placeholder="...years" ng-model="filerValue">
      <hr>
      <table>
        <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Phone</th>
          <th>Age</th>
        </tr>
        </thead>
        <tbody>
         <tr ng-repeat="patient in patients | filter:greaterThan('age',filerValue)">
          <td>{{patient.id}}<td>
          <td>{{patient.name}}<td>
          <td>{{patient.phone}}<td>
          <td>{{patient.age}}<td>
         </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>